// COLORS
$bColor1: #f4d6de;

$fColor1: #ffffff;
$fColor2: #808080;
$fColor3: #b3adc8;
$fColor4: #46a4ec;
$fColor5: #2a2932;
$fColor6: #5c586b;
$fColor7: #76718a;

$color1: #2a2932;
$color2: #393744;
$color3: #ffffff;
