html, body {
    height: 100%;

    background: -webkit-linear-gradient($color1, $color2);
    background:    -moz-linear-gradient($color1, $color2);
    background:      -o-linear-gradient($color1, $color2);
    background:         linear-gradient($color1, $color2);

    font-family: Poppins;
}

*, *:after, *:before {
    box-sizing: border-box;
}
