doctype html
html(lang="en")
    head
        title Day041 - File Upload Widget
        link(rel="stylesheet", href="stylesheets/style.css")
    body
        #container
            #header boarding pass
            #destination
                div
                    span OTP
                    span Bucharest
                div
                    span SFO
                    span San Francisco
            #content
                span(class="passenger_title") passenger
                span(class="passenger_name") Paul Flavius
                div
                    span(class="flight_title") flight
                    span(class="flight_name") otp234
                div
                    span(class="seat_title") seat
                    span(class="seat_name") 12f
                div
                    span(class="gate_title") gate
                    span(class="gate_name") 07
                img(src="img/barcode.png", alt="")
