@font-face {
    font-family: 'HelveticaNeue';
    src: url('fonts/HelveticaNeue.ttf');
    font-weight: 400;
}
@font-face {
    font-family: 'HelveticaNeue';
    src: url('fonts/HelveticaNeue-Light.otf');
    font-weight: 300;
}

@import "compass/reset";

@import "grids/grid";

@import "components/vars";
@import "components/general";
@import "components/container";
