doctype html
html(lang="en")
    head
        title Day042 - Calculator
        link(rel="stylesheet", href="stylesheets/style.css")
    body
        #container
            .display_result
                #result 0
                #equals =
                #operation 0
            .keyboard
                a(href="#" class="grid-1") C
                a(href="#" class="grid-1") +/-
                a(href="#" class="grid-1") %
                a(href="#" class="grid-1") /
                
                a(href="#" class="grid-1") 7
                a(href="#" class="grid-1") 8
                a(href="#" class="grid-1") 9
                a(href="#" class="grid-1") x
                
                a(href="#" class="grid-1") 4
                a(href="#" class="grid-1") 5
                a(href="#" class="grid-1") 6
                a(href="#" class="grid-1") -
                
                a(href="#" class="grid-1") 1
                a(href="#" class="grid-1") 2
                a(href="#" class="grid-1") 3
                a(href="#" class="grid-1") +
                
                a(href="#" class="grid-2") 0
                a(href="#" class="grid-1") ,
                a(href="#" class="grid-1") =
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js")
        script(src="js/main.js")
        script $(document).ready(function() {var calc = new Calculator(); calc.run();});
