doctype html
html(lang="en")
    head
        title Day099 - Message Notification
        link(rel="stylesheet", href="stylesheets/style.css")
    body
        #container
            .content
                .header
                    | Message from 
                    a(class="from" href="#") dan@internet.com
                .body
                    p Hey buddy! 
                        span Fascinating article and so relevant to the new era of human-machine networks. Relevant to the study group on "listening" to which I belong 
                        span Cheers.
            .buttonControl
                a(href="#") Cancel
                a(href="#") Reply
