doctype html
html(lang="en")
    head
        title Day041 - File Upload Widget
        link(rel="stylesheet", href="stylesheets/style.css")
    body
        #container
            #header
                .selectStyle
                    select(name="widget")
                        option(value="100_Days_Challenge") 100_Days_Challenge
                        option(value="100_Days_Default") 100_Days_Default
                a(href="#") 
                    img(src="img/upload.png", alt="Upload")
            #content
                #items 
                    .item
                        img(src="img/Day041.jpg", alt="Day")
                        div
                            span(class="item_title") Day_041_source.psd
                            span(class="item_data") 2.1 MB of 3,4 MB 
                            span(class="item_kbs") ( 120KB/sec )
                        progress(value="61.76" max="100")
                    .item
                        img(src="img/Day041.jpg", alt="Day")
                        div
                            span(class="item_title") Day_041_source.jpg
                            span(class="item_data") 800KB of 1,2 MB 
                            span(class="item_kbs") ( 90KB/sec )
                        progress(value="66.67" max="100")
                    .item
                        img(src="img/Day041.jpg", alt="Day")
                        div
                            span(class="item_title") Dribbble_Preview.jpg
                            span(class="item_data") 210KB of 842KB 
                            span(class="item_kbs") ( 12KB/sec )
                        progress(value="24.94" max="100")
                    
                    .item
                        img(src="img/Day040.jpg", alt="Day")
                        div
                            span(class="item_title") Day_040_source.psd
                            span(class="item_data") 4.5 MB
                            span(class="item_kbs") ( 100_Days_Challenge )
                    .item
                        img(src="img/Day040.jpg", alt="Day")
                        div
                            span(class="item_title") Day_040_source.jpg
                            span(class="item_data") 1,2 MB 
                            span(class="item_kbs") ( 100_Days_Challenge )
                    .item
                        img(src="img/Day040.jpg", alt="Day")
                        div
                            span(class="item_title") Dribbble_Preview.jpg
                            span(class="item_data") 842KB 
                            span(class="item_kbs") ( 100_Days_Challenge )
                    
                    .item
                        img(src="img/Day039.jpg", alt="Day")
                        div
                            span(class="item_title") Day_039_source.psd
                            span(class="item_data") 4.5 MB
                            span(class="item_kbs") ( 100_Days_Challenge )
                    .item
                        img(src="img/Day039.jpg", alt="Day")
                        div
                            span(class="item_title") Day_039_source.jpg
                            span(class="item_data") 1,2 MB 
                            span(class="item_kbs") ( 100_Days_Challenge )
                    .item
                        img(src="img/Day039.jpg", alt="Day")
                        div
                            span(class="item_title") Dribbe_Preview.jpg
                            span(class="item_data") 842KB 
                            span(class="item_kbs") ( 100_Days_Challenge )
