*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background: #895eb8;
}

a {
  opacity: 1;
  transition: opacity .3s;
}

a:hover {
  opacity: .7;
  transition: opacity .3s;
}

#card {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 820px;
  height: 700px;
}

.card__left, .card__right {
  position: absolute;
  display: inline-block;
}

.card__left {
  left: 10px;
  bottom: 10px;
  top: 10px;
  width: calc(400px - 10px);
  height: calc(100% - 20px);
  background: #7a5c98;
  padding: 20px;
  -o-box-shadow: 0 0 30px 10px rgba(0, 0, 0, 0.3) inset;
  box-shadow: 0 0 30px 10px rgba(0, 0, 0, 0.3) inset;
}
.card__left .card__left__user {
  position: relative;
  height: 90px;
  background: #fff;
  -o-box-shadow: 0px 20px 20px -5px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 20px 20px -5px rgba(0, 0, 0, 0.6);
  margin-bottom: 20px;
}
.card__left .card__left__user p {
  position: absolute;
  left: 120px;
  display: inline-block;
  margin: 0;
  font-family: "Open Sans";
}
.card__left .card__left__user p span {
  color: #61d81c;
}
.card__left .card__left__user p.name {
  top: 20px;
  font-size: 20px;
  color: #53504b;
}
.card__left .card__left__user p.phone_number {
  top: 45px;
  font-size: 17px;
  color: #b3b3b3;
}

.card__right {
  right: 0px;
  top: 0px;
  bottom: 0px;
  width: 420px;
  height: 100%;
  background: #fff;
  -o-box-shadow: 10px 10px 30px 10px rgba(0, 0, 0, 0.6);
  box-shadow: 10px 10px 30px 10px rgba(0, 0, 0, 0.6);
  padding: 30px;
}
.card__right a {
  text-decoration: none;
}
.card__right .card__right__phone_number {
  height: 70px;
  margin-bottom: 45px;
}
.card__right .card__right__phone_number i, .card__right .card__right__phone_number p {
  text-align: center;
  line-height: 70px;
}
.card__right .card__right__phone_number i {
  color: #b2b2b2;
  width: 10%;
  vertical-align: bottom;
}
.card__right .card__right__phone_number p {
  font-family: "Open Sans";
  font-size: 50px;
  display: inline-block;
  color: #61D81C;
  margin: 0 0 0 -5px;
  width: 80%;
}
.card__right .card__right__key {
  margin-bottom: 25px;
}
.card__right .card__right__key .key {
  width: calc(100% / 3);
  display: inline-block;
  text-align: center;
  margin-left: -3px;
  font-family: "Open Sans";
  font-size: 50px;
  color: #676767;
}
.card__right .card__right__key .key span {
  display: block;
  font-size: 14px;
  color: #b3b3b3;
  text-transform: uppercase;
  margin-top: -10px;
}
.card__right .card__right__key .special {
  vertical-align: top;
}
.card__right .card__right__phone {
  position: absolute;
  bottom: 40px;
  left: 30px;
  right: 30px;
  width: calc(100% - 60px);
  text-align: center;
}
.card__right .card__right__phone i {
  font-size: 80px;
  color: #61D81C;
}
