// COLOR
$background : #f7e8d9;

$containerBg: #ffffff;
$containerSh: #cead89;

$buttonBg   : #fdf3e8;
$buttonColor: #999999;
$buttonHover: #50b2fb;

$contentHC  : #999999;
$contentHAC : #0099ff;
$contentBC  : #666666;

// TRANSITION
$transition-time: 250ms;
$transition-method: ease-in-out;
