@import url(https://fonts.googleapis.com/css?family=Poppins:400,500);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

body {
  background: #f7e8d9;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}

#container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 560px;
  height: 390px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 50px 100px 15px #cead89;
}
#container .content {
  padding: 50px 50px 20px 50px;
  height: calc(100% - 80px);
}
#container .content .header {
  margin-bottom: 40px;
  font-size: 18px;
  font-weight: 400;
  color: #999999;
}
#container .content .header a {
  color: #0099ff;
  text-decoration: none;
}
#container .content .body p {
  color: #666666;
  font-size: 18px;
  font-weight: 500;
}
#container .content .body p span {
  padding: 30px 0 0 0;
  display: block;
}
#container .buttonControl {
  background: #fdf3e8;
  height: 80px;
  line-height: 80px;
  border-radius: 0 0 10px 10px;
  overflow: hidden;
}
#container .buttonControl a {
  transition: color 250ms ease-in-out;
  display: inline-block;
  width: 50%;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #999999;
}
#container .buttonControl a:hover {
  color: #0691f9;
}
