#bottom {
    margin-top: 20px;
    position: absolute;
    left: calc(100% - (365px - 75px));

    a {
        width: 365px;
        float: right;

        padding: 20px;
        border: 2px solid $buttonBorder;
        border-right-style: none;
        border-radius: 28px 0 0 28px;

        font-weight: bold;
        font-size: 18px;
        color: white;
        text-transform: uppercase;
        text-decoration: none;

        i {
            padding-left: 20px;
            color: $arrowColor;
        }

        &:hover {
            background: $buttonBorder;
        }

        &:hover i {
            color: $arrowHover;
        }
    }
}
