@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

// COLOR
$bodyBG : #E0DEDE;
$headerBG: #018ffd;
$contentBG: #ffffff;
$buttonBorder: #08365d;
$arrowColor: #dfb44d;
$arrowHover: #ffffff;
$labelColor: #999999;
$inputColor: #cccccc;

// BACKGROUND
$background: url(../img/d004-bg.png) no-repeat;
$bgAfter: url(../img/d004-after.png) no-repeat;
